@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark mode and light mode */
@media (prefers-color-scheme: dark) {
  @tailwind utilities;
}

/* set darkmode and light mode bg and color */
[data-theme="light"] body {
  @apply bg-white text-gray-900;
}

[data-theme="dark"] body {
  @apply bg-black text-gray-100;
}

/* custome scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}